<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/acceuilproduitcard.css">
    <title>Document</title>
</head>
<body>
    <section class="produit">
        <div class="products-container">
            <div class="product-card">
                <img src="../Images/G.png" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/fauteuil_240826121637_39566064.webp" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/smart.png" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/chassure 16.jpg" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/telephone.jpg" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/culotte.avif" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/G.png" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/fauteuil_240826121637_39566064.webp" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/smart.png" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>

            <div class="product-card">
                <img src="../Images/chassure 16.jpg" alt="Produit 1">
                <div class="product-info">
                    <div class="etoile">
                        <span>⭐⭐⭐⭐⭐</span>
                    </div>
                    <div class="prix">
                        <p>FCFA 15 000</p>
                    </div>
                    <div class="coeur">
                        <div class="description">
                            <p>Casque Bluetooth 4G, avec isolation acoustique interne</p>
                        </div>
                        <button class="heart">❤</button>
                    </div>
                </div>
            </div>        

            
           
        </div>
    </section>
</body>
</html>