<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/acceuilCommentaire.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Acceuil commentaire</title>
</head>
<body>
    <section>
        <div class="conteneur">
            <div class="texte">
                <h2>Obtenez des remises, des services et des outils adaptés à votre entreprise.</h2>
                <p>Développez-vous grâce aux avantages offerts par l'abonnement gratuit Easy-Saani.com, que vous voyez
                une petite entreprise ayant besoin des éléments essentiels pour commencer à s'approvisionner ou une entreprise bien 
                établie à la recherche d'outils et de solutions pour des commandes plus complexes.
                </p>
            </div>
            
            <div class="commentaire">
                <div class="icon">
                    <button><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                </div>
                <div class="contain">
                    <div class="conteneur-profile">
                        <div class="profile">
                            <img src="../Images/télécharger (2).jpeg" alt="">
                        </div>
                        <div class="info-profile">
                            <h3>Seo Yea-Ji</h3>
                            <p>Fondatrice d'Eve Beauty</p>
                        </div>
                    </div>
                    <div class="texte-commentaire">
                        <p>En tant qu'entrepreneuse très impliquée dans l'insdustrie de la beauté, j'ai été dévouée à la création 
                            de mes produits originaux. Easy-Saani a été mon partenaire de confiance ideale dans ce processus. 
                        </p>
                    </div>
                </div>
                <div class="icon">
                    <button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </section>
</body>
</html>