<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/acceuilnavbar.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../Images/logo-Easy-Saani.png" alt="Logo EASY-SAANI">
        </div>
        <div class="link">
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Categorie</a></li>
                <li><a href="">Messagerie</a></li>
                <li><a href="">Service</a></li>
            </ul>
        </div>
        <div class="btn">
            <button id="panier" name="">Panier</button>
            <input type="text" id="nom-prod" value="3" disabled>
            <button id="connecter" name="">Se connecter</button>
        </div>
    </nav>
</body>
</html>