<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..//css/accueilSearch.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="recherche">
        <div class="icon-search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input type="text">
        <div class="icon-camera">
            <i class="fa fa-camera" aria-hidden="true"></i>
        </div>
    </div>
</body>
</html>