<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/accueilCard.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="gros-card">
            <h3>Les plus populaires</h3>
            <img src="../Images/fauteuil_33028733.webp" alt="">
            <p>fauteuil</p>
            <div class="conteneur-card">
                <div class="card">
                    <img src="../Images/fauteuil_240826121637_39566064.webp" alt="">
                    <p>fauteuil</p>
                </div>

                <div class="card">
                    <img src="../Images/fauteuil_240826121637_39566064.webp" alt="">
                    <p>fauteuil</p>
                </div>

                <div class="card">
                    <img src="../Images/fauteuil_240826121637_39566064.webp" alt="">
                    <p>fauteuil</p>
                </div>
                
            </div>
        </div>

        <div class="gros-card">
            <h3>Les produits récemment ajouter</h3>
            <div class="conteneur-card">
                <div class="card">
                    <img src="../Images/OIP (1).jpeg" alt="">
                    <p>ecouteur casque</p>
                </div>
                <div class="card">
                    <img src="../Images/telephone.jpg" alt="">
                    <p>ecouteur casque</p>
                </div>
            </div>

            <div class="conteneur-card">
                <div class="card">
                    <img src="../Images/OIP (1).jpeg" alt="">
                    <p>ecouteur casque</p>
                </div>
                <div class="card">
                    <img src="../Images/OIP (1).jpeg" alt="">
                    <p>ecouteur casque</p>
                </div>
            </div>
            
        </div>

        <div class="gros-card">
            <h3>Nos produit tendances</h3>
            <div class="conteneur-card">
                <div class="card">
                    <img src="../Images/OIP (1).jpeg" alt="">
                    <p>ecouteur casque</p>
                </div>
                <div class="card">
                    <img src="../Images/OIP (1).jpeg" alt="">
                    <p>ecouteur casque</p>
                </div>
            </div>

            <div class="conteneur-card">
                <div class="conteneur-card">
                    <div class="card">
                        <img src="../Images/OIP (1).jpeg" alt="">
                        <p>ecouteur casque</p>
                    </div>
                    <div class="card">
                        <img src="../Images/OIP (1).jpeg" alt="">
                        <p>ecouteur casque</p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="gros-card">
            <h3>Les plus populaires</h3>
            <div class="card">
                <img src="../Images/vetement1.png" alt="">
            </div>
        </div>
    </section>
</body>
</html>