<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/accueilHeader.css">
    <title>Document</title>
</head>
<body>
        <div class="header">
            <div class="slogan">
                <h1>EASY-SAANI</h1>
                <p>La plateforme de commerce général pour le commerce national</p>
            </div>
            <img src="../Images/logo4.jpg" alt="Logo-Easy" style="width: 350px;">
        </div>
</body>
</html>