body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E8E6DD;
}
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    width: 220px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.product-card img {
    width: 100%;
}

.product-info {
    text-align: left;
    margin-top: 10px;
}

.product-info .prix{
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.product-info .coeur{
    display: flex;
    margin-bottom: 10px;
}

.product-info .description {
    font-size: 14px;
    color: #777;
}

.product-card .heart {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ff5733;
}