body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E8E6DD;
}

section .conteneur{
    background-color: #1F2D4E;
    padding: 30px;
}

section .conteneur .texte{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

section .conteneur .texte p{
    margin: 20px 0;
}

section .conteneur .commentaire{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #E0CD8B;
    margin: 30px 0;
}

.commentaire .icon button{
    border: none;
    background-color: #E0CD8B;
    margin: 0 20px;
}

.commentaire .icon .fa{
    font-size: 30px;
}

section .commentaire .contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

section .conteneur .commentaire:hover{
    background-color: #dcc367;
}

.commentaire .conteneur-profile{
    display: flex;
    align-items: center;
}

.commentaire .conteneur-profile .profile{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #E8E6DD;
}

.commentaire .conteneur-profile .profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.commentaire .texte-commentaire{
    width: 60%;
}
