*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #E8E6DD;
}

.footer{
    width: 100%;
}

.conteneur-renseignement{
    background-color: white;
    margin-top: 40px;
    padding: 20px;
}

.renseignement{
    display: flex;
    margin: auto;
}

.renseignement .ligne{
    border-right: 2px solid #777;
    margin: 0 20px;
}

.renseignement .link h3{
    margin-bottom: 20px;
}

.renseignement ul li{
    margin-bottom: 20px;
}

.renseignement ul li a:hover{
    color: red;
    text-decoration: underline;
}

.conteneur-renseignement .partenaire{
    display: flex;
}

.conteneur-renseignement .partenaire img{
    width: 100px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.85em;
}

footer ul {
    margin-bottom: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    margin-right: 40px;
}

footer ul li a:hover {
    text-decoration: underline;
}