*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #E8E6DD;
    display: block;
}

.principale{
    display: flex;
    justify-content: center;
    width: 100%;
}

.connecter{
    width: 500px;
    display: grid;
    place-items: center;
    margin-bottom: 100px;

}

.logo{
    display: flex;
    align-items: center;
}

.container{
    width: 350px;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0  0px 10px rgb(114, 114, 114);
}

.container #identifiez-vous{
    font-size: 25px;
    color: #1f2d4e;
    margin-bottom: 10px;
}

.container h3{
    color: #1f2d4e;
    margin-bottom: 20px;
}

.champ-text{
    width: 100%;
}

.champ-text input[type="text"], input[type="password"]{
    width: 100%;
    height: 35px;
    outline: none;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.champ-text input[type="text"]:focus, input[type="password"]:focus{
    border:2px solid #000dff;
}

.champ-text input[type="submit"]{
    width: 100%;
    height: 33px;
    border: none;
    font-size: 16px;
    color: white;
    margin-top: 5px;
    border-radius: 30px;
    background-color: #151b54;
    cursor: pointer;
}

.champ-text input[type="submit"]:hover{
    background-color: #172072;
}

.creercompte{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.creercompte p{
    font-size: 10px;
    color: gray;
}

.creercompte a{
    font-size: 20px;
    color: #000dff;
    text-decoration: none;
}

.container .lien{
    color: red;
}

.connecter .ligne{
    width: 100%;
    border-top: 2px solid black;
    margin-top: 40px;
}

footer {
    margin-top: 40px;
    text-align: center;
    border-top: 2px solid gray;
    padding: 20px;
    font-size: 0.85em;
}

footer ul {
    list-style: none;
    margin-bottom: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    margin-right: 40px;
}

footer ul li a:hover {
    text-decoration: underline;
}