*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #E8E6DD;
    
}
header{
    background-color: #1f2d4e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 3px 5px;
    border-bottom: 3px solid black;
    box-shadow: 10px  10px 10px rgb(114, 114, 114);
}
.logo {
    display: block;
    align-items: center;
    padding-left: 1%;
    display: block;
    
}
.titre {
    display: block;
    padding-right: 45%;
    font-size: 30px;
    color: #E0CD8B;
    
    }
.principale{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-radius: 5px;
    
    
}
.payer{
    width: 500px;
    display: grid;
    place-items: center;
    margin-bottom: 100px
}
.container{
    width: 405px;
    height: 543px;
    background-color: #d9d9d9;
    
    border-radius: 30px;
    box-shadow: 0  0px 10px rgb(114, 114, 114);
}
.paiement-titre h2{
    padding-bottom: 5px;
    border-radius: 30px;
}
.paiement-titre{
    width: 405px;

    background-color: #ffffff;
    padding: 20px; 
    border: 2px solid rgb(114, 114, 114);
    border-radius: 30px;
    
    display: grid;
    
    
}
.paiement-titre .ligne{
    width: 100%;
    border-top: 2px solid rgb(114, 114, 114);
    
}
.rectangle{

    width: 405px;
    display: grid;
    place-items: center;
    
}
.logo-orange{
    border: none;
    width: 160px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 120px;


}
.text{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    

}
.champ-text{
    width: 100%;
}
.champ-text input[type="text"]{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    padding-left: 20px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.renvoi__code {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 50%;
}
.renvoi__code a {
    color: black;
}
.champ-text input[type="submit"]{
    width: 350px;
    height: 35px;
    margin-left: 24px;
    border: none;
    font-size: 20px;
    color: white;
    margin-top: 5px;
    border-radius: 30px;
    background-color: #151b54;
    cursor: pointer;
   
}
.champ-text .annuler input[type="submit"]{
    margin-top: 10px;
    
    background-color: #E0CD8B;
    cursor: pointer;
    
}
.connecter .ligne{
    width: 100%;
    border-top: 2px solid black;
    margin-top: 40px;
}
.piedpage{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: 2px solid gray;
}

.politique{
    margin: 30px 0;
}
.politique a{
    margin-right: 40px;
}

.piedpage p{
    opacity: 50%;
}

.rect-vide{
    height: 100px;
}