*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #E8E6DD;
}

.nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background-color: #151b54;
}

.nav-bar .titre{
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(137, 137, 26);
}

.main{
    display: grid;
    place-items: center;
    margin: 70px 0;

}

.main .head{
    width: 520px;
    height: 60px;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px 20px 0 0;
    background-color: white;
    
}

.formulaire{
    width: 520px;
    height: 400px;
    padding: 30px ;
    border-radius: 0 0 20px 20px;
    background-color: #d9d9d9;
}

.formulaire table tr td:nth-child(1){
    text-align: right;
    padding-right: 15px;
}

.formulaire input:not([type="checkbox"]){
    width: 320px;
    height: 30px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.formulaire .NomPrenom input{
    width: 155px;
    margin-right: 7px;
}

.formulaire .accepte{
    width: 350px;
    margin-bottom: 15px;
}

span, span a{
    color: red;
}

.accepte a{
    text-decoration: none;
}

.accepte a:hover{
    text-decoration: underline;
}

button{
    width: 350px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #1f2d4e;
    cursor: pointer;
}

button:hover{
    background-color: #263e74;

}

footer {
    margin-top: 40px;
    text-align: center;
    border-top: 2px solid gray;
    padding: 20px;
    font-size: 0.85em;
}

footer ul {
    list-style: none;
    margin-bottom: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    margin-right: 40px;
}

footer ul li a:hover {
    text-decoration: underline;
}