*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #E8E6DD;
}
 .nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    background-color: #151b54;
}

.nav-bar .titre{
    width: 100%;
    text-align: center;
    color: rgb(137, 137, 26);
}

.conteneur-principale{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.conteneur-principale .conteneur{
    width: 100%;
    max-width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: #d9d9d9;
    margin-top: 40px;
}

.conteneur .conteneur-info{
    width: 400px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #E8E6DD;
}

.conteneur-info .choix-pay{
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

.choix-pay p{
    font-size: 13px;
    font-weight: bold;
    text-transform:uppercase;
}

.conteneur-info .devis{
    width: 100%;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid gray;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

form .image{
    width: 120px;
    margin-top: 40px;
}

form .image img{
    width: 100%;
}

form p{
    font-size: 18px;
    margin-top: 20px;
}

form input{
    width: 75%;
    height: 35px;
    padding: 10px;
    outline: none;
    margin: 20px 0 10px 0;
    border-radius: 7px;
}

form input:focus{
    border: 2px solid #1f2980;
}

form h6{
    color: gray;
    margin-bottom: 20px;
}

form button{
    width: 50%;
    height: 25px;
    border: none;
    border-radius: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

form button:first-of-type{
    color: white;
    background-color: #151b54;
}

form button:first-of-type:hover{
    background-color: #1f2980;
}

form button:last-of-type{
    color: white;
    background-color: #E0CD8B;
}

form button:last-of-type:hover{
    background-color: #d5bd64;
}

footer {
    margin-top: 40px;
    text-align: center;
    border-top: 2px solid gray;
    padding: 20px;
    font-size: 0.85em;
}

footer ul {
    list-style: none;
    margin-bottom: 10px;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #333;
    text-decoration: none;
    margin-right: 40px;
}

footer ul li a:hover {
    text-decoration: underline;
}