<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/accueil.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/Images/logo-Easy-Saani.png" alt="Logo EASY-SAANI" style="width: 80px;">
        <div class="search">
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Categorie</a></li>
                <li><a href="">Messagerie</a></li>
                <li><a href="">Service</a></li>
            </ul>
        </div>
        <div class="btn">
            <button id="panier" name="">Panier</button>
            <input type="text" id="nom-prod" value="3" disabled>
            <button id="connecter" name="">Se connecter</button>
        </div>
        </nav>
        <div class="conteneur-slogan">
            <div class="slogan">
                <h1>EASY-SAANI</h1>
                <p>La plateforme de commerce général pour le commerce national</p>
            </div>
            <img src="../static/Images/logo4.jpg" alt="Logo-Easy" style="width: 350px;">
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>