<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/accueil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/Images/logo-Easy-Saani.png" alt="Logo EASY-SAANI" style="width: 80px;">
        <div class="search">
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="">Categorie</a></li>
                <li><a href="">Messagerie</a></li>
                <li><a href="">Service</a></li>
            </ul>
        </div>
        <div class="btn">
            <button id="panier" name="">Panier</button>
            <input type="text" id="nom-prod" value="3" disabled>
            <button id="connecter" name="">Se connecter</button>
        </div>
        </nav>
        <div class="conteneur-slogan">
            <div class="slogan">
                <h1>EASY-SAANI</h1>
                <p>La plateforme de commerce général pour le commerce national</p>
            </div>
            <img src="../static/Images/logo4.jpg" alt="Logo-Easy" style="width: 350px;">
        </div>
    </header>
    <main>

        <div class="categorie-recherche">
            <div class="recherche">
                <div class="icon-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="text">
                <div class="icon-camera">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div class="fleche">
                <div class="icon">
                    <button><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                </div>
                <div class="categorie">
                    <a href="">Foyer</a>
                    <a href="">Vêtement</a>
                    <a href="">Bagages & Sacs</a>
                    <a href="">Beautés</a>
                    <a href="">Electroniques</a>
                    <a href="">Chaussures</a>
                    <a href="">Perruques</a>
                    <a href="">Bijoux</a>
                    <a href="">Accessoires & Outils</a>
                </div>
                <div class="icon">
                    <button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="conteneur-slogan">
            <div class="icon">
                <button><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            </div>
            <div class="reduction">
                <p>-10%</p>
                <p>De reduction sur les appareils électroniques</p>
            </div>
            <img src="../static/Images/G.png" alt="" style="width: 400px;">
            <div class="icon">
                <button><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>
        </div>
        <section class="conteneur">
            <div class="texte">
                <h3>Découvrez votre prochaines opportunés de businness</h3>
                <p>Des différentes idées de business vous attendent pour commencer à entreprendre dès maintenant</p>
            </div>
            <section>
                <div class="gros-card">
                    <h3>Les plus populaires</h3>
                    <img src="../static/Images/fauteuil_33028733.webp" alt="">
                    <p>fauteuil</p>
                    <div class="conteneur-card">
                        <div class="card">
                            <img src="../static/Images/fauteuil_240826121637_39566064.webp" alt="">
                            <p>fauteuil</p>
                        </div>

                        <div class="card">
                            <img src="../static/Images/fauteuil_240826121637_39566064.webp" alt="">
                            <p>fauteuil</p>
                        </div>

                        <div class="card">
                            <img src="../static/Images/fauteuil_240826121637_39566064.webp" alt="">
                            <p>fauteuil</p>
                        </div>
                        
                    </div>
                </div>

                <div class="gros-card" id="quatre1">
                    <h3>Les produits récemment ajouter</h3>
                    <div class="conteneur-card">
                        <div class="card">
                            <img src="../static/Images/OIP (1).jpeg" alt="">
                            <p>ecouteur casque</p>
                        </div>
                        <div class="card">
                            <img src="../static/Images/telephone.jpg" alt="">
                            <p>ecouteur casque</p>
                        </div>
                    </div>

                    <div class="conteneur-card">
                        <div class="card">
                            <img src="../static/Images/OIP (1).jpeg" alt="">
                            <p>ecouteur casque</p>
                        </div>
                        <div class="card">
                            <img src="../static/Images/OIP (1).jpeg" alt="">
                            <p>ecouteur casque</p>
                        </div>
                    </div>
                    
                </div>

                <div class="gros-card" id="quatre2">
                    <h3>Nos produit tendances</h3>
                    <div class="conteneur-card">
                        <div class="card">
                            <img src="../static/Images/OIP (1).jpeg" alt="">
                            <p>ecouteur casque</p>
                        </div>
                        <div class="card">
                            <img src="../static/Images/OIP (1).jpeg" alt="">
                            <p>ecouteur casque</p>
                        </div>
                    </div>

                    <div class="conteneur-card" id="quatre3">
                        <div class="conteneur-card">
                            <div class="card">
                                <img src="../static/Images/OIP (1).jpeg" alt="">
                                <p>ecouteur casque</p>
                            </div>
                            <div class="card">
                                <img src="../static/Images/OIP (1).jpeg" alt="">
                                <p>ecouteur casque</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="gros-card" id="quatre4">
                    <h3>Les plus populaires</h3>
                    <div class="card">
                        <img src="../static/Images/telephone.jpg" alt="">
                    </div>
                </div>
            </section>
            <div class="products-container">
                <div class="product-card">
                    <img src="../static/Images/G.png" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/fauteuil_240826121637_39566064.webp" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/smart.png" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/chassure 16.jpg" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/telephone.jpg" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/culotte.avif" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/G.png" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/fauteuil_240826121637_39566064.webp" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/smart.png" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/chassure 16.jpg" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/telephone.jpg" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <img src="../static/Images/culotte.avif" alt="Produit 1">
                    <div class="product-info">
                        <div class="etoile">
                            <span>⭐⭐⭐⭐⭐</span>
                        </div>
                        <p class="price">FCFA 15 000</p>
                        <div class="coeur">
                            <p class="description">Casque Bluetooth 4G, avec isolation acoustique interne</p>
                            <button class="heart">❤</button>
                        </div>
                    </div>
                </div>
                
               
            </div>

            <div class="contain">
                <div class="texte">
                    <h2>Obtenez des remises, des services et des outils adaptés à votre entreprise.</h2>
                <p>Développez-vous grâce aux avantages offerts par l'abonnement gratuit Easy-Saani.com, que vous voyez
                    une petite entreprise ayant besoin des éléments essentiels pour commencer à s'approvisionner ou une entreprise bien 
                    établie à la recherche d'outils et de solutions pour des commandes plus complexes.
                </p>
                </div>
                
                <div class="commentaire">
                    <div class="icon">
                        <button><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                    </div>
                    <div class="context">
                        <div class="conteneur-profile">
                            <div class="profile">
                                <img src="../static/Images/télécharger (2).jpeg" alt="">
                            </div>
                            <div class="info-profile">
                                <h3>Seo Yea-Ji</h3>
                                <p>Fondatrice d'Eve Beauty</p>
                            </div>
                        </div>
                        <div class="texte-commentaire">
                            <p>En tant qu'entrepreneuse très impliquée dans l'insdustrie de la beauté, j'ai été dévouée à la création 
                                de mes produits originaux. Easy-Saani a été mon partenaire de confiance ideale dans ce processus. 
                            </p>
                        </div>
                    </div>
                    <div class="icon">
                        <button><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="commencer">
                <div class="opacite">
                    <h2>Prêt à commencer ?</h2>
                    <p>Explorez des millions de produits des fournisseurs de confiances en vous inscrivant dès aujourd'hui !</p>
                    <button>S'inscrire</button>
                </div>
            </div>
        </section>
    </main>
    
        <section class="footer">
            <div class="conteneur-renseignement">
                <div class="renseignement">
                    <div class="link">
                        <h3>Obtenir de l'aide</h3>
                        <ul>
                            <li><a href="">Centre d'aide</a></li>
                            <li><a href="">Chat en direct</a></li>
                            <li><a href="">Vérifier l'etat du commandes</a></li>
                            <li><a href="">Restitutions</a></li>
                            <li><a href="">Signaler un abut</a></li>
                        </ul>
                    </div>
        
                    <div class="link">
                        <h3>Paiements et protection</h3>
                        <ul>
                            <li><a href="">Paiements sûrs et faciles</a></li>
                            <li><a href="">Politique de remboursement</a></li>
                            <li><a href="">Expéditions à temps</a></li>
                            <li><a href="">Protection après-vente</a></li>
                            <li><a href="">Services de surveillances des produits</a></li>
                        </ul>
                    </div>
        
                    <div class="link">
                        <h3>Vendre sur Easy-Saani</h3>
                        <ul>
                            <li><a href="">Commencer à vendre</a></li>
                            <li><a href="">Centrale de vendeur</a></li>
                            <li><a href="">Devenir un fournisseur vérifié</a></li>
                            <li><a href="">Partenaires</a></li>
                            <li><a href="">Télécharger l'application pour les fournisseurs</a></li>
                        </ul>
                    </div>
        
                    <div class="link">
                        <h3>Apprendre à nous connaître</h3>
                        <ul>
                            <li><a href="">A propos de Easy-Saani</a></li>
                            <li><a href="">Responsabilités d'entreprise</a></li>
                            <li><a href="">Centre d'actualités</a></li>
                            <li><a href="">Carrières</a></li>
                        </ul>
                    </div>
                </div>
                <div class="partenaire">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="">
                </div>
            </div>
            <footer>
                <ul>
                    <li><a href="">Politiques de confidentialité</a>
                        <a href="">Conditions générales de vente</a>
                        <a href="">Cookies</a>
                    </li>
                </ul>
                <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
            </footer>
        </section>
    
</body>
</html>