<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ajouteProduit.css">
    <title>Document</title>
</head>
<body>
    <header class="nav-bar">
        <img src="../static/Images/logo-Easy-Saani.png" alt="Logo-Easy" style="width: 80px; margin-top: -10px;">
        <div class="titre">
            <h2>Paiement Sécurisé</h2>
        </div>
    </header>

    <section class="productManagment">
        <div class="headGroup">
            <h3>Produits</h3>
            <button>Ajouter</button>
            <button>Mise a jour</button>
            <button>Supprimer</button>
        </div>
        <div class="container">
            <div class="items">
                <div class="item1">
                    <label for="">Nom:</label>
                    <input type="text">
                </div>
                <div class="item2">
                    <label for="">Prix:</label>
                    <input type="text">
                </div>
                <div class="item3">
                    <label for="">Description:</label>
                    <textarea name="" id="" rows="5" cols="40"></textarea>
                </div>
                <div class="item4">
                    <label for="">Quantite:</label>
                    <input type="text">
                </div>
                <div class="item5">
                    <label for="fileUpload" class="custom-file-upload">Choisir une image</label>
                    <input type="file" id="fileUpload">

                </div>
                <div class="item6">
                    <label for="">Date d'ajout:</label>
                    <input type="date">
                </div>
                <button>Ajouter</button>

            </div>
            <div class="items2">
                <h3>Categori</h3>
                <select id="category">
                    <option value="electronics" selected>Électronique</option>
                    <option value="clothing">Vêtements</option>
                    <option value="books">Livres</option>
                    <option value="furniture">Meubles</option>
                </select>
                <div class="produitImg">
                    <h3>Image du produit</h3>
                    <div class="img">
                        <img src="assets/acceuil/EasySaaniLogoHome.png" alt="">
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
</body>
</html>