<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/categorie.css">
    <title>Categorie</title>
</head>
<body>

    <header>

    </header>

    <main>

    </main>

    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
    
</body>
</html>