<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/categorie.css">
    <title>Categorie</title>
</head>
<body>

    <header>
        <img src="../static/Images/logo-Easy-Saani.png" alt="Logo EASY-SAANI" style="width: 80px;">
        <input type="text" id="recherche">
        <div class="btn">
            <input type="button" value="Panier" id="panier" name="">
            <input type="text" id="nom-prod" value="3" disabled>
            <input type="button" value="Se connecter" id="connecter" name="">
        </div>
    </header>

    <main>
        <div class="conteneur">
            <div class="categorie">
                <img src="../static/Images/beaute1.png" alt="Beauté" style="width: 35px;">
                <p>Beautés</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/joulet.png" alt="mère enfant jouet" style="width: 35px;">
                <p>Mère, Enfant Jouets</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/maison et jardin.png" alt="maison jardin" style="width: 35px;">
                <p>Maison & Jardin</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/vetement.png" alt="vêtement et accessoire" style="width: 35px;">
                <p>Vêtements & Accessoires</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/perruque.png" alt="perruque" style="width: 35px;">
                <p>Perruques</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/electronique.png" alt="electronique" style="width: 35px;">
                <p>Electroniques</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/Environment 2.png" alt="environnement" style="width: 35px;">
                <p>Environnement</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/Manchine.png" alt="manchine et equipement" style="width: 35px;">
                <p>Machine & équipement</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/Emballage.png" alt="emballage et équipement" style="width: 35px;">
                <p>Emballage & Impression</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/lunette.png" alt="lunetterie" style="width: 35px;">
                <p>Lunetterie</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/sport.png" alt="sport et loisir" style="width: 35px;">
                <p>Sport & Loisirs</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/materiel.png" alt="outil et materiel" style="width: 35px;">
                <p>Outils & Materiel</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/bijoux.png" alt="bijoux et accessoire" style="width: 35px;">
                <p>Bijoux & accessoires</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/chaussureicon.png" alt="chaussure" style="width: 35px;">
                <p>Chaussures</p>
            </div>

            <div class="categorie">
                <img src="../static/Images/meuble.png" alt="meuble" style="width: 35px;">
                <p>Meubles</p>
            </div>
        </div>
    </main>

    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
    
</body>
</html>