<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Connecter.css">
    <title>Se connecter</title>
</head>
<body>
    <main class="principale">
        <section class="connecter">
            <div class="logo">
                <img src="../static/images/logo easysaani.png" alt="Logo-EasySaani" style="width: 150px;">
            </div>
            <div class="container">
                <p id="identifiez-vous">Identifiez-vous ou créez un compte</p>
                <h3>Saisissez votre numéro de téléphone portable ou votre adresse e-mail</h3>
                <form action="" method="" class="champ-text">
                    <input type="text" placeholder="email ou numéro de téléphone"><br>
                    <input type="password" placeholder="mot de passe">
                    <input type="submit" value="Se connecter">
                </form>
                <div class="creercompte">
                    <p >Nouveau chez Easy-Saani</p>
                    <a href="">Créer un compte</a>
                </div>
                <p>En continuant, vous acceptez les <a href="" class="lien">conditions d'utilisations</a> et la <a href="" class="lien">déclration de confidentialités</a>
                de Easy-Saani</p>
                <div class="ligne">
                </div>
            </div>
        </section>
    </main>
    
    
    <footer class="piedpage">
        <div class="politique">
            <a href="">Politique de confidentialité</a>
            <a href="">Condition de générales de vente</a>
            <a href="">Cookies</a>   
        </div>
        <p>&copy 2025 EASY-SAANI.COM. Tous droits réservés</p>
        <div class="rect-vide">

        </div>
    </footer>
</body>
</html>