<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inscription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Inscription</title>
</head>
<body>
    <div class="main">
        <div class="conteneur">
            <div class="header">
                <img src="../static/Images/logo-Easy-Saani.png" alt="Logo Easy-Saani" style="width: 120px;">
                <div class="text">
                    <p>Inscrivez-vous pour pouvoir acheter ou vendre des produits de qualités.</p>
                </div>
            </div>
    
            <form action="" method="">
                <div class="formulaire">
                    <table>
                        <tr>
                            <td><label for="pays/region"><span>*</span>Pays/Région </label></td>
                            <td><input type="text" id="pays/region" ></td>
                        </tr>
                    
                        <tr>
                            <td><span>*</span>Mon profile</td>
                            <td>
                                <input type="radio" id="vendeur" name="choix" value="vendeur">
                                <label for="vendeur" class="radio">Vendeur</label>
        
                                <input type="radio" id="acheteur" name="choix" value="acheteur">
                                <label for="acheteur" class="radio"> Acheteur</label>
    
                                <input type="radio" id="Lesdeux" name="choix" value="Lesdeux">
                                <label for="Lesdeux" class="radio"> Les deux</label>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><label for="email"><span>*</span>Address e-mail</label></td>
                            <td><input type="text" id="email" ></td>
                        </tr>
                    
                        <tr>
                            <td><label for="password"><span>*</span>Mot de passe</label></td>
                            <td><input type="text" id="password" ></td>
                        </tr>

                        <tr>
                            <td><label for="confirm_password"><span>*</span>Confirmation du mot de passe</label></td>
                            <td><input type="text" id="confirm_password" ></td>
                        </tr>
    
                        <tr>
                            <td><label for="entreprise_nom"><span>*</span>Nom de l'entreprise </label></td>
                            <td><input type="text" id="entreprise_nom" ></td>
                        </tr>
                  
                        <tr>
                            <td>
                                <label for="nom"><span>*</span>Nom et</label>
                                <label for="prenom">Prenom</label>
                            </td>
                            <td>
                                <div class="NomPrenom">
                                    <input type="text" id="nom">
                                    <input type="text" id="prenom">
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td></td>
                            <td>
                                <label for="accepte">
                                    <div class="accepte">
                                        <input type="checkbox" id="accepte">
                                        En cochant la case j'accepte le <span><a href="">contrat d'adhésion</a></span>,
                                    <span><a href="">les conditions d'utilisation</a></span>, ainsi que <span><a href="">la politique de confidentialité</a></span>.
                                    </div>
                                </label>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class="ou">
                                    <div class="r1"></div>
                                    <p>OU</p>
                                    <div class="r2"></div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            <td>
                                <div class="social_ins">
                                    <a href=""><i class="fa-brands fa-google"></i></a>
                                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                                    <a href=""><i class="fa-brands fa-apple" style="color: black;"></i></a>
                                </div>
                            </td>
                           
                        </tr>

                        <tr>
                            <td></td>
                            <td><button type="submit">S'inscrire</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
</body>
</html>