<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Paiement2.css">
    <title>Paiement sécurisé</title>
</head>
<body>
    <header>
            <div class="logo">
                <img src="../static/images/logo-Easy-Saani.png" alt="Logo-EasySaani" style="width: 95px;">
            
            </div> 
            <div class="titre">Paiement sécurisé</div>    
    </header>
    <main class="principale">
        <section class="payer">
            
   
            <div class="container">
                <div class="rectangle">
                    <div class="paiement-titre">
                      <h2>Paiement Mobile</h2>
                      <div class="ligne"></div>
                      <p><strong>N° Commande :</strong> 4037554</p>
                      <p><strong>Total à payer :</strong> 3 055 000 F CFA</p>
                    </div>
                </div>
                <div class="logo-orange">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="Logo-OrangeMoney" style="width: 100%;">
                </div>
                   <div class="text"><p>Veuillez saisir le code OTP reçu par SMS</p></div>
                   
                  <form action="" method="" class="champ-text">
                        <input type="text" placeholder="Code OTP"><br>
                            <div class="renvoi__code">
                             <a href="">Renvoyer le code</a>
                            </div>
                        <input type="submit" value="Continuer">
                        <div class="annuler"> <input type="submit" value="Annuler"></div>
                        
               
                    </form>
                    <div class="ligne">
                    </div>
            </div>
            
            
           
        </section>

    </main>
    <footer class="piedpage">
        <div class="politique">
            <a href="">Politique de confidentialité</a>
            <a href="">Condition de générales de vente</a>
            <a href="">Cookies</a>   
        </div>
        <p>&copy 2025 EASY-SAANI.COM. Tous droits réservés</p>
        <div class="rect-vide">

        </div>
    </footer>
    
</body>
</html>