<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Paiement2.css">
    <title>Paiement sécurisé</title>
</head>
<body>
    <header class="nav-bar">
        <img src="../static/Images/logo-Easy-Saani.png" alt="Logo-Easy" style="width: 80px; margin-top: -10px;">
        <div class="titre">
            <h2>Paiement Sécurisé</h2>
        </div>
</header>
    <main class="principale">
        <section class="payer">
            
   
            <div class="container">
                <div class="rectangle">
                    <div class="paiement-titre">
                      <h2>Paiement Mobile</h2>
                      <div class="ligne"></div>
                      <p><strong>N° Commande :</strong> 4037554</p>
                      <p><strong>Total à payer :</strong> 3 055 000 F CFA</p>
                    </div>
                </div>
                <div class="logo-orange">
                    <img src="../static/Images/orangeMoneytransparent.png" alt="Logo-OrangeMoney" style="width: 100%;">
                </div>
                   <div class="text"><p>Veuillez saisir le code OTP reçu par SMS</p></div>
                   
                  <form action="" method="" class="champ-text">
                        <input type="text" placeholder="Code OTP"><br>
                            <div class="renvoi__code">
                             <a href="">Renvoyer le code</a>
                            </div>
                        <input type="submit" value="Continuer">
                        <div class="annuler"> <input type="submit" value="Annuler"></div>
                        
               
                    </form>
                    <div class="ligne">
                    </div>
            </div>
            
            
           
        </section>

    </main>
    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
    
</body>
</html>
