<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/payement3.css">
    <title>Inscrption</title>
</head>
<body>

    <header class="nav-bar">
        <img src="../static/Images/logo-Easy-Saani.png" alt="Logo-Easy" style="width: 80px; margin-top: -10px;">
        <div class="titre">
            <h2>Paiement Sécurisé</h2>
        </div>
    </header>

    <div class="main">
        <div class="head">
            <p>VEUILLEZ RENSEIGNER VOTRE ADDRESSE</p>
        </div>
        <form action="" method="">
            <div class="formulaire">
                
                <table>
                    <tr>
                        <td><label for="pays/region"><span>*</span>Pays/Région </label></td>
                        <td><input type="text" id="pays/region" ></td>
                    </tr>

                    <tr>
                        <td>
                            <label for="nom"><span>*</span>Nom et</label>
                            <label for="prenom">Prenom</label>
                        </td>
                        <td>
                            <div class="NomPrenom">
                                <input type="text" id="nom" name="nom">
                                <input type="text" id="prenom" name="prenom">
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td><label for="numero"><span>*</span>Numéro de téléphone</label></td>
                        <td><input type="tel" id="numero" name="numero"></td>
                    </tr>

    
                    <tr>
                        <td><label for="addresse"><span>*</span>Addresse </label></td>
                        <td><input type="text" id="addresse" name="addresse"></td>
                    </tr>
                        
                    <tr>
                        <td></td>
                        <td>
                            <label for="accepte">
                                <div class="accepte">
                                    <input type="checkbox" id="accepte">
                                        En cochant la case j'accepte le <span><a href="">contrat d'adhésion</a></span>,
                                    <span><a href="">les conditions d'utilisation</a></span>, ainsi que <span><a href="">la politique de confidentialité</a></span>.
                                </div>
                            </label>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><button type="submit">Continuer</button></td>
                    </tr>

                </table>
            </div>
        </form>
    </div>
    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
</body>
</html>