<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/payement2.css">
    <title>Document</title>
</head>
<body>
    <header class="nav-bar">
            <img src="../static/Images/logo-Easy-Saani.png" alt="Logo-Easy" style="width: 80px; margin-top: -10px;">
            <div class="titre">
                <h2>Paiement Sécurisé</h2>
            </div>
    </header>
    <main class="conteneur-principale">
        <div class="conteneur">
            <div class="conteneur-info">
                <div class="choix-pay">
                    <p>Paiement mobile</p>
                </div>
                <div class="devis">
                    <p>N° Commande : 4037564</p>
                    <p>Total à payer : 3 055 000 F CFA</p>
                </div>
            </div>

            <form action="">
                <div class="image">
                    <img src="../static/Images/orangeMoneytransparent2.png" alt="">
                </div>
                <p>Saisissez votre numéro orange money</p>
                <input type="tel" required>
                <h6>Nous vous enverrons un code d'authenfication par SMS</h6>
                <button type="submit" id="Continuer">Continuer</button>
                <button id="Annuler">Annuler</button>
                
            </form>
            
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
</body>
</html>