<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/payement.css">
    <title>Document</title>
</head>
<body>
    <header class="nav-bar">
            <img src="../static/Images/logo-Easy-Saani.png" alt="Logo-Easy" style="width: 80px; margin-top: -10px;">
            <div class="titre">
                <h2>Paiement Sécurisé</h2>
            </div>
    </header>
    <main class="conteneur-principale">
        <div class="conteneur">
            <div class="conteneur-info">
                <div class="slo">
                    <p>Paiement mobile, choisissez votre operateur</p>
                </div>
                <div class="devis">
                    <p>N° Commande : 4037564</p>
                    <p>Total à payer : 3 055 000 F CFA</p>
                </div>
            </div>
            <p id="operateur">Opérateurs</p>
            <form action="" method="" class="formulaire">
            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Wave Money
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>

            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Orange Money
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>

            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Paypal
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>

            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Visa
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>

            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Mastercard
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>

            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Moov Money
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>

            <div class="option-payment">
                <label>
                    <input type="radio" name="payment" value="wave"> 
                    Sama Money
                </label>
                <img src="../static/Images/wave-money.jpg" alt="Wave Money" style="width: 30px;">
            </div>
            <div class="btn">
                <button type="submit" id="Continuer">Continuer</button>
                <button type="submit" id="Annuler">Annuler</button>
            </div>
            </form>
        </div>
    </main>
    <footer>
        <ul>
            <li><a href="">Politiques de confidentialité</a>
                <a href="">Conditions générales de vente</a>
                <a href="">Cookies</a>
            </li>
        </ul>
        <p>&copy; 2025 EASY-SAANI.COM. Tous droits réservés.</p>
    </footer>
</body>
</html>